
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500;700&display=swap');

.fontJura{
    font-family: 'Jura', sans-serif;
}

.fontSlabo {
    font-family: 'Slabo', sans-serif;
}

.page-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px;
    position: relative;
}

.my_content {
    padding: 50px 0;
}

.carousel-inner img{
    max-height: 300px !important;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rounded {
    border: 1px solid black;
}

.card {
    height: 600px; !important;
}

.title {
    border-bottom: 1px solid black;
    text-align: center;
}

.carousel-control-next {
    right: -50px;
}

.carousel-control-next-icon {
    position: relative;
    right: -60px;
}

.carousel-control-prev {
    left: -50px;
}

.carousel-control-prev-icon {
    position: relative;
    left: -60px;
}
